.container-profileCard {
  z-index: 3;

  display: flex;
  flex-direction: row;

  width: 250px;
  height: 40px;
  margin: 30 0 0 0;
  padding: 12px;
  border-radius: 32px;

  cursor: pointer;

  transition: all 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    background-color: rgba(15, 25, 25, 0.1);
  }
  .avatar {
    width: 40px;
    height: 40px;

    clip-path: circle(50%);
  }
  .info {
    width: 200px;
    height: 40px;
    padding: 0 0 0 10px;

    font-size: 15px;

    text-align: left;
    span {
      display: inline-block;

      width: 150px;

      line-height: 20px;

      &:nth-child(1) {
        font-weight: 700;
      }
      &:nth-child(2) {
        overflow: hidden;

        color: rgb(83, 100, 113);
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
